html,body{
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

main{
    justify-content: center;
    align-items: center;
    display: flex;
}

section{
    height: auto;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

table{
    /* width: 150px;
    height: 150px; */
    background-color: lightgray;
    border-radius: 50%;
    padding: 10px;
}

table th{
    width: 50px;
    height: 50px;
}

.dpad {
    background-color: gray;
}

#upButton{
    border-radius: 10px 10px 0 0;
}
#leftButton{
    border-radius: 10px 0 0 10px;
}
#rightButton{
    border-radius: 0 10px 10px 0;
}
#downButton{
    border-radius: 0 0 10px 10px;
}